<body  style='background-color:#080E22;'>

  <div class="button-7" style='margin-top:20px;'>
    <div class="eff-7"></div>
    <a href='{% url 'main'%}'>TOUCH</a>
  </div>

    <div style="text-align:center">
    <br><br><br><br>
    <p class="test" style=' font-size:200px; color:white;'><span> {{ cnt }}</span></p><p style='font-size:65px; color:white;'>번째 터치입니다</p>
    <br><br><br><br><br>
    </div>

    <div style="margin-left:50px;margin-right:50px;color:white;font-size:45px; text-align:center">

      <script language="JavaScript">
         
          function random_text()
          {};
          var random_text = new random_text();
          
          var number = 0;
                     
          random_text[number++] = "자신감을 갖고 좋아하는 사람에게 고백을 해보세요!"
          random_text[number++] = "뜻밖의 기분 좋은 일들이 생기니 즐거운 하루에요."
          random_text[number++] = "의리 있는 친구나 선후배에게 큰 도움을 받을 수 있어요."
          random_text[number++] = "아직 늦지 않았답니다. 계획한 일을 지금 바로 시작해보세요."
          random_text[number++] = "어제보다 더 행복한 오늘이 될 거예요."
          random_text[number++] = "오늘은 예상하지 못했던 즐거운 일이 일어나겠군요!"
          random_text[number++] = "지금은 잠시 힘들지만, 곧 좋은 소식이 올 테니 절대 포기하지 마세요."
          random_text[number++] = "멀리서 반가운 친구가 오거나, 기다리던 연락이 오겠군요."
          random_text[number++] = "공부도 중요하지만, 스트레스를 해소할 수 있는 여유를 가져보는 건 어떨까요?"
          random_text[number++] = "성취의 기쁨을 느끼게 될 거예요."
          random_text[number++] = "소신껏 일하면 좋은평가는 물론, 주변 사람들이 당신을 다시 보는 계기가 돼요."
          random_text[number++] = "노력한 것보다 더 많은 이익이 따르네요."
          random_text[number++] = "새롭고 대담한 일을 시작하기 좋은 날입니다."
          random_text[number++] = "열정에 대한 보상과 더불어 성장과 발전까지 따르는 날입니다."
          random_text[number++] = "잠재력을 발휘하여 성공을 도모할 수 있는 날입니다."
          random_text[number++] = "마음을 다스리고 도덕적으로 움직이면 더 큰 일을 성취할 수 있습니다."
          random_text[number++] = "와우! 당신의 매력이 하늘을 찌를 듯한 하루군요!"
          random_text[number++] = "상대방이 당신에게 호감을 느낄 수 잇는 멋진 날이군요."
          random_text[number++] = "귀인의 도움을 받아 모든 일을 쉽게 풀어나갈 수 있겠네요."
          random_text[number++] = "모든일이 순조로워 마음이 가뿐하고 부담 없는 시간을 보내게 될 거예요."
          random_text[number++] = "베푼 만큼 당신에게 행복한 일이 생길 거에요."
          random_text[number++] = "기회라고 느껴지면 과감하게 승부수를 띄워보세요."
          random_text[number++] = "당신의 마음가짐에 따라 오늘 하루가 바뀝니다."
          random_text[number++] = "사랑하는 사람들과 단란한 시간을 보내며 기분전환을 해 보세요."
          random_text[number++] = "오늘을 즐겨보세요."
          random_text[number++] = "만약 계획한 일이 있다면 오늘 실천하면 좋아요."
          random_text[number++] = "능력을 인정받을 수 있는 날이에요."
          random_text[number++] = "기회가 된다면 오늘 도전해봐도 괜찮은 날입니다."
          random_text[number++] = "특별히 열심히하지 않아도 능률이 잘 오르는 날입니다."
          random_text[number++] = "도약할 수 있는 무언가를 찾을 수 있는 날입니다."
          random_text[number++] = "깊은 관계로 발전할 수 있는 날이에요."
          
          var random_number = Math.floor(Math.random() * number);

          document.write(random_text[random_number]);
      </script>
    </div>

    <style>
p {
    display: inline;
}
*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
#container{
  width:715px;
  height:100px;
}

.button-7{
  width:100px;
  height:50px;
  border:2px solid white;
  float:left;
  text-align:center;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 0 10px;
}
.button-7 a{
  font-family:arial;
  font-size:25px;
  color:white;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}


h1{
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
  font-size:24px;
  color:#080e22;
  text-align:center;
  margin:0 auto 40px 0;
}
h1:first-letter{
  color:#e74c3c;
  border-bottom:1px solid #e74c3c;
}
footer{
  position:absolute;
  width:100%;
  height:30px;
  border-top:1px solid #34495e;
  bottom:0;
  display:none;
}
footer h1{
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
  font-size:14px;
  color:#34495e;
  text-align:left;
  margin-left:5%;
}
footer a{
  font-family: 'Oswald', sans-serif;
  font-weight:normal;
  font-size:14px;
  color:#34495e;
}

<!--글씨 그라데이션-->
body {
  background: #444;
  text-align: center;
  color: #fff;
}

.test {
  display: inline-block;
  margin: 50px auto 0;
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
}

.test span {
  background: linear-gradient(to bottom, #000000,#FFFFFF, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



</style>
</body>